
/* Responsive for iPdd */
@media only screen and (max-width: 768px) {
    .header-info, .latest-info {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 60px;
    }

    .header-img img {
        width: 100%;
       
    } 
    .blogs {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 25px;
        grid-column-gap: 30px;
    }
    .latest-info {
        padding: 40px 0;
    }

    .latest-video {
        text-align: center;
     }

     .partners {
        grid-template-columns: repeat(2, 1fr);
    }

    .partner img {
        width: 80%;
    }

    footer {
        padding: 40px 0 0 0;
    }

    .footer-img img {
        width: 100%;
    }

    .footer-info {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-img, .footer-icon {
        width: 50%;
        text-align: center;
    }

    .copy-right  {
        width: 100%;
    }


}
