
/******************** Responsive for iPads **************************/
@media only screen and (max-width: 768px) {
    .header-info, .latest-info {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 60px;
    }

    .header-img img {
        width: 100%;
       
    } 
    .blogs {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 25px;
        grid-column-gap: 30px;
    }
    .latest-info {
        padding: 40px 0;
    }

    .latest-video {
        text-align: center;
     }

     .partners {
        grid-template-columns: repeat(2, 1fr);
    }

    .partner img {
        width: 80%;
    }

    footer {
        padding: 40px 0 0 0;
    }

    .footer-img img {
        width: 100%;
    }

    .footer-info {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-img, .footer-icon {
        width: 50%;
        text-align: center;
    }

    .copy-right  {
        width: 100%;
    }

    header:hover > .header-info > .header-title h1 {
        animation: none ;
    }

    .header-title a:hover, .header-img:hover img, .blog:hover > img  {
        transform: none;
    }


}/*********************** Responsive for mobile ***************************/

@media only screen and (max-width: 480px) {
    .header-title h1, .latest-title h1 {
        font-size: 40px;
        margin-bottom: 20px;
        line-height: 50px;
    }

    header {
        padding: 30px 0;
    
    }

    .header-info{
        grid-row-gap: 50px;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;

    }

    .partners {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .partner-title h3 {
        font-size: 36px;
    }
    .partner img, .footer-img {
        width: 50%;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
}
