/* ----------
    Fonts 
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* ---------
Common Style
------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: calc(100% - 15%);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

/************************* Header style **************/
header {
    background-color: #2D25A0;
    padding: 70px 0;

}

.header-title a {
    background-color: #E02C6D;
    color: #ffff;
    display: inline-block;
    padding: 10px 24px;
    transition: transform .5s ease-in-out;
}

.header-title a:hover {
    transform: scale(1.2);
}
.header-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 95px;
    align-items: center;
}
.fa-arrow-right {
    margin-left: 8px;
}

.header-img img {
    width: 556px;
    transition: transform .5s ease-in-out;
} 

.header-img:hover img  {
    transform: scale(1.2);
}

/**************************** animation ****************/
header:hover > .header-info > .header-title h1 {
    position: relative;
    animation: myanimation 1.5s infinite alternate ;
}

@keyframes myanimation {
    0%   { left:0; top:0;}
    100% { left:15%; top:0;}
  }

  
.header-title h1 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    color: #ffff;
    margin-bottom: 36px;
    
}


/******************* Blogs Section style *******************/

section {
    margin: 70px 0;
    background-color: #ffff;
}
.blogs {
    background-color: #ffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 30px;
    
}
.blog {
    padding: 15px;
    box-shadow: 0 0 5px;
}

.blog:hover > img{
    transform: scale(1.15)

} 
.blog img {
    width: 100%;
    height: 256px;
    transition: transform .5s ease;
    
}

.blog h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 55px;
    color: #18191F;

}
.blog p, .latest-title p  {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #6C6C6C;
}

/****************** latest info style *******************/

.latest-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 150px;
    padding: 70px 0;
}
.latest-title h1 {
    color: black;
    font-size: 48px;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 15px;
}


/****************** partners section style ****************/

.partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 33.33%;

    
}

.partner-title h3 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
}

.partner img {
    justify-content: center;
    transition: transform .8s ease-in-out;
    width: 100%;
}

.partner img:hover {
    transform: scale(1.4);
}


/**************** Footer style ************/


footer {
    padding: 100px 0 0 0;
}


.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-img, .footer-icon, .copy-right  {
    width: 40%;
    text-align: center;
}


.footer-img img {
    width: 330px;
}
.footer-icon a {
    display: inline-block;
    color: #969BAB;
    background-color: #9e9e9e54;
    border: 1px solid;
    border-radius: 100%;
    padding: 6px;
    font-size: 18px;
    margin: 10px 5px;
}


.copy-right  {
    font-size: 18px;
    color: black;
    font-weight: 400;
}